<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">

    <meta charset="UTF-8"/>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<nav th:fragment="navigation" class="navbar navbar-inverse">

    <div class="container-fluid">

        <ul class="nav navbar-nav">
            <li><a href="">Home</a></li>
            <li><a href="/user/login">Sign In</a></li>
            <li><a href="/user/register">Register</a></li>
            <li><a href="/practicetest">Test</a></li>

        </ul>
    </div>
</nav>


</nav>

</body>
</html>