<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>
<nav th:replace="fragments :: navigation"></nav>


<form method ="get">
    <h1>TEST</h1>


    <div >
        <table>
            <tr>

                <!-- radio button-->
                <th><h1><a href="/add">Addition</a></h1> </th>
            </tr>
            <tr>
                <th><h1><a href="/multiply">Multiplication</a></h1></th>
            </tr>

        </table>
    </div>


</form>


</body>
</html>