<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">


<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="${title}">Default Title</h1>
<form method ="get">



    <div >
        <table>
            <tr>


                <th><h1><a href="/exam/additionexam">Addition</a></h1> </th>
            </tr>
            <tr>
                <th><h1><a href="/exam/multiplicationexam">Multiplication</a></h1></th>
            </tr>

        </table>
    </div>

    <h3>Not ready for test, <a href = "/user/logout">LOGOUT</a></h3>
</form>


</body>
</html>